@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Movie Mirchi</title>
    <meta name="robots" content="NOODP" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Movie Mirchi :: Largest aggregator Of Bollywood Entertainment Content - View Movie Information, Critics Review and Bollywood News.">
    <meta name="keywords" content="Movie Mirchi,Bollywood,Entertainment,Movie Reviews,Critics Review,Movie Rating,Trailers,Songs,Photos,Pictures,Bollywood News,Genre">
    <meta name="author" content="Movie Mirchi">

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/bundles/style/custom")
    @Styles.Render("~/Content/styles/linkreference/mm.linkreference.css")

    @Styles.Render("~/bundles/style/controls")
    @Styles.Render("~/bundles/style/prettyphoto")

    @Scripts.Render("~/bundles/script/jquery")
    @Scripts.Render("~/bundles/script/bootstrap")
    @Scripts.Render("~/bundles/script/prettyphoto")
    @Scripts.Render("~/bundles/script/moviecore")
    @Scripts.Render("~/bundles/script/controls")
    @Scripts.Render("~/bundles/script/pages")

    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
    <div class="movie-container">
        <div class="header">
            <div class="logo">
                <a href="/" title="Movie Mirchi"><img src='/Images/logo.png' /></a>
            </div>
            <div class="small-logo">
                <a href="/" title="Movie Mirchi"><img src='/Images/RedChilli.png' /></a>
            </div>
            <div class="home-search-bar">
                <input type="text" class="form-control search" placeholder="What do you like? Movies, Celebrities, Reviewers ..." id="home-search" name="query" value="" autocomplete="off" />
                <span class="clear-search-bar" title="Clear search"><img src="/Images/clear-button.png" class="clear-search-bar-button"></span>

                <div class="search-button">Search</div>
                <div id="search-results"></div>
            </div>
            <div class="nav-options"></div>
        </div>
    </div>
    <div id="container" class="movie-panel">
        <div class="nav-bar-container"></div>
        @RenderBody()
    </div>
    <div class="footer">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sitemap.xml">Sitemap</a></li>
        </ul>
        <input type="hidden" id="hfUserId" /><div>&copy;&nbsp;2014 Movie Mirchi</div>
    </div>
</body>
</html>