@{
    Layout = null;
}
@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <title>Movie Mirchi</title>
    <meta name="robots" content="NOODP" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Movie Mirchi :: Largest aggregator Of Bollywood Entertainment Content - View Movie Information, Critics Review and Bollywood News.">
    <meta name="keywords" content="Movie Mirchi,Bollywood,Entertainment,Movie Reviews,Critics Review,Movie Rating,Trailers,Songs,Photos,Pictures,Bollywood News,Genre">
    <meta name="author" content="Movie Mirchi">
    <script>
        var fbAppId = '@ConfigurationManager.AppSettings["FacebookAppId"]';
    </script>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/bundles/style/custom")
    @Styles.Render("~/Content/styles/linkreference/mm.linkreference.css")

    @Styles.Render("~/bundles/style/controls")
    @Styles.Render("~/bundles/style/prettyphoto")

    @Scripts.Render("~/bundles/script/jquery")
    @Scripts.Render("~/bundles/script/bootstrap")
    @Scripts.Render("~/bundles/script/prettyphoto")
    @Scripts.Render("~/bundles/script/moviecore")
    @Scripts.Render("~/bundles/script/controls")
    @Scripts.Render("~/bundles/script/pages")

    <link rel="icon" type="image/png" href="images/favicon.png">
    <script type="text/javascript">
        $(document).ready(function () {
            if (!new Util().IsMobile()) {
                $(".hero-img").css('display', 'block');
            }
        });
    </script>
    @*<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>*@
    <script type="text/javascript">stLight.options({ publisher: "6865d871-3c72-4f05-b5c7-3280b83bef96", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
</head>
<body>
    <div class="movie-container">
        <div class="logo-container">
            <div class="logo">
                <a href="/" title="Movie Mirchi"><img src='/Images/logo.png' /></a>
            </div>
        </div>
        <div class="header">

            @*<div class="small-logo">
                    <a href="/" title="Movie Mirchi"><img src='/Images/RedChilli.png' /></a>
                </div>*@
            <div class="home-search-bar">
                <input type="text" class="form-control search" placeholder="What do you like? Movies, Celebrities, Reviewers ..." id="home-search" name="query" value="" autocomplete="off" />
                <span class="clear-search-bar" title="Clear search"><img src="/Images/clear-button.png" class="clear-search-bar-button"></span>

                <div class="search-button">Search</div>
                <div id="search-results"></div>
            </div>
            <div class="sharethis-counter">
                <ul style="list-style: none; float: left; margin: 8px; ">
                    <li><a style="color: white" data-toggle="modal" href="#Login" role="presentation" id="LoginLink">Sign In</a></li>
                    <li><a style="color: white" href="javascript:void(0);" onclick="DoLogout();" id="LogoutLink">Sign Out</a></li>
                </ul>
                <span class='st_facebook_large' displaytext='Facebook' st_msg="http://bit.ly/MovieMirchi"></span>
                <span class='st_twitter_large' st_via="MovieMirchiCo" st_msg="http://bit.ly/MovieMirchi"></span>
            </div>
            @*<div class="nav-options"></div>*@
        </div>
    </div>
    <div id="container">
        <div class="nav-bar-container"></div>
        @RenderBody()
    </div>
    <div class="footer">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sitemap.xml">Sitemap</a></li>
        </ul>
        <input type="hidden" id="hfUserId" /><div>&copy;&nbsp;2014 Movie Mirchi</div>
    </div>

</body>
</html>
<script>

    var userId = "@(Session["userid"] != null ? Session["userid"] : "")";
    if (userId != "") {
        $("#LogoutLink").show();
        $("#LoginLink").hide();
    }
    else {
        $("#LoginLink").show();
        $("#LogoutLink").hide();
    }

    window.userFields = {
        UserId: "@(Session["userid"] != null ? Session["userid"] : "")",
        UserType: "@(Session["type"] != null ? Session["type"] : "")",
        FirstName: "@(Session["firstname"] != null ? Session["firstname"] : "")",
        LastName: "@(Session["lastname"] != null ? Session["lastname"] : "")",
        Email: "@(Session["email"] != null ? Session["email"] : "")",
        Mobile: "@(Session["mobile"] != null ? Session["mobile"] : "")",
        DateOfBirth: "@(Session["dob"] != null ? Session["dob"] : "")",
        Gender: "@(Session["gender"] != null ? Session["gender"] : "")",
        City: "@(Session["city"] != null ? Session["city"] : "")",
        Profile_Pic_Http: "@(Session["profile_pic"] != null ? Session["profile_pic"] : "")",
        Profile_Pic_Https: "@(Session["profile_pic_https"] != null ? Session["profile_pic_https"] : "")",
        Country: "@(Session["country"] != null ? Session["country"] : "")",
        AccessToken: "@(Session["fb_access_token"] != null ? Session["fb_access_token"] : "")"
    };



    window.connectUser = function () {
        $.ajax({
            url: BASE_URL + '/api/UserSignup/Register',
            data: userFields,
            type: 'Post',
            dataType: 'text',
            success: ShowSuccessMessageLogin,
            error: function (xhr, status, error) {
                $("#popup-auth").attr("onclick", "AuthenticateUser();").html("Login");
            }
        });
    }

    GetFBLoginDialog();
    GetFBSignupDialog();
    GetEmailSignupDialog();
</script>