@{
    Layout = null;
}
@using System.Configuration;
<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <title>Movie Mirchi</title>
    <meta name="robots" content="NOODP" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Movie Mirchi :: Largest aggregator Of Bollywood Entertainment Content - View Movie Information, Critics Review and Bollywood News.">
    <meta name="keywords" content="Movie Mirchi,Bollywood,Entertainment,Movie Reviews,Critics Review,Movie Rating,Trailers,Songs,Photos,Pictures,Bollywood News,Genre">
    <meta name="author" content="Movie Mirchi">
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/bundles/style/custom")
    @Styles.Render("~/Content/styles/linkreference/mm.linkreference.css")

    @Styles.Render("~/bundles/style/controls")
    @Styles.Render("~/bundles/style/prettyphoto")

    @Scripts.Render("~/bundles/script/jquery")
    @Scripts.Render("~/bundles/script/bootstrap")
    @Scripts.Render("~/bundles/script/prettyphoto")
    @Scripts.Render("~/bundles/script/moviecore")
    @Scripts.Render("~/bundles/script/controls")
    @Scripts.Render("~/bundles/script/pages")

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "a40f95e9-1e98-4991-883d-b089dc2dbae5"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

    <script>
        var fbAppId = '@ConfigurationManager.AppSettings["FacebookAppId"]';
    </script>

    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>*@

    <link rel="icon" type="image/png" href="images/favicon.png">
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
        if (stLight) {
            stLight.options({ publisher: "6865d871-3c72-4f05-b5c7-3280b83bef96", doNotHash: false, doNotCopy: false, hashAddressBar: false });
        }
    </script>

    <script>
        //GoogleAnalytics
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52983576-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>

    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="js/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="css/berry.css">

    <script type="text/javascript" src="js/modernizr.custom.32033.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        /*Overriding CSS from berry.css*/
        .section-heading {
            margin: 25px 0px 15px;
        }

        /*Overriding CSS from bootstrap*/
        .carousel-inner > .item {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="pre-loader">
        <div class="load-con">
            <img src="Images/logo.png" class="animated fadeInDown" alt="">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

    <header>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="fa fa-bars fa-lg"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="Images/logo.png" alt="" class="logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="home-search-bar">
                        <input type="text" class="form-control search" placeholder="What do you like? Movies, Celebrities, Reviewers ..." id="home-search" name="query" value="" autocomplete="off" />
                        <span class="clear-search-bar" title="Clear search"><img src="/Images/clear-button.png" class="clear-search-bar-button"></span>

                        <div class="search-button">Search</div>
                        <div id="search-results"></div>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#nowplaying">Now Playing</a>
                        </li>
                        <li>
                            <a href="#upcoming">Upcoming</a>
                        </li>
                        <li>
                            <a href="#news">News</a>
                        </li>
                        <li>
                            <a href="#tweets">Tweets</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-->
        </nav>

        <!--RevSlider-->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="img/transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfl fadeout hidden-xs"
                             data-x="left"
                             data-y="bottom"
                             data-hoffset="30"
                             data-voffset="0"
                             data-speed="500"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="img/berry/Slides/hand-berry.png" alt="">
                        </div>
                        <div class="tp-caption lfl fadeout visible-xs"
                             data-x="left"
                             data-y="center"
                             data-hoffset="700"
                             data-voffset="0"
                             data-speed="500"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="img/berry/iphone-berry.png" alt="">
                        </div>
                        <div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
                            Oleose
                        </div>
                        <div class="tp-caption large_white_light sfr" data-x="770" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1400" data-easing="Power4.easeOut">
                            App
                        </div>
                        <div class="tp-caption large_white_light sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
                            Landing Theme
                        </div>
                        <div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
                            <a href="#about" class="btn btn-primary inverse btn-lg">LEARN MORE</a>
                        </div>
                        <div class="tp-caption sfr hidden-xs" data-x="730" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1500" data-start="1900" data-easing="Power4.easeOut">
                            <a href="#getApp" class="btn btn-default btn-lg">GET APP</a>
                        </div>
                    </li>
                    <!-- SLIDE 2 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="img/transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfb fadeout hidden-xs"
                             data-x="center"
                             data-y="bottom"
                             data-hoffset="0"
                             data-voffset="0"
                             data-speed="1000"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="img/berry/Slides/berry-slide2.png" alt="">
                        </div>

                        <div class="tp-caption large_white_light sft" data-x="center" data-y="250" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
                            Every Pixel <i class="fa fa-heart"></i>
                        </div>


                    </li>
                    <!-- SLIDE 3 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="img/transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption customin customout hidden-xs"
                             data-x="right"
                             data-y="center"
                             data-hoffset="0"
                             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-voffset="50"
                             data-speed="1000"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="img/berry/Slides/family-berry.png" alt="">
                        </div>
                        <div class="tp-caption customin customout visible-xs"
                             data-x="center"
                             data-y="center"
                             data-hoffset="0"
                             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-voffset="0"
                             data-speed="1000"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="img/berry/Slides/family-berry.png" alt="">
                        </div>
                        <div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="400" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
                            <a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>
                        </div>

                        <div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
                            Powerful Responsive
                        </div>
                        <div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
                            App Landing Page
                        </div>
                        <div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
                            <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. <br> Quisque pellentesque diam sed pulvinar lobortis. Vestibulum ante <br>ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                        </div>
                        <div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1800" data-easing="Power4.easeOut">
                            <a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>
                        </div>


                    </li>

                </ul>
            </div>
        </div>

    </header>

    <div class="wrapper">
        <section id="nowplaying">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Now Playing Movies</h1>
                    <div class="divider"></div>
                    <p>Playing in theatres near you</p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                        <div id="container">
                            @RenderSection("NowPlayingMovies", false)
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="upcoming">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Upcoming Movies</h1>
                    <div class="divider"></div>
                    <p>Stay tuned for more on</p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                        <div id="container">
                            @RenderSection("UpcomingMovies", false)
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="news">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>News</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                        <div id="container">
                            @RenderSection("News", false)
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="tweets">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Tweets</h1>
                    <div class="divider"></div>
                    <p>Tweets from your favorite celebrities</p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                        <div id="container">
                            @RenderSection("Tweets", false)
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @RenderSection("General", false)
    </div>

    <script src="js/slick.min.js"></script>
    <script src="js/placeholdem.min.js"></script>
    <script src="js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/scripts.js"></script>
    <script>
        $(document).ready(function () {
            appMaster.preLoader();
        });
    </script>
</body>

</html>
<script>

    var userId = "@(Session["userid"] != null ? Session["userid"] : "")";
    if (userId != "") {
        $("#LogoutLink").show();
        $("#LoginLink").hide();
    }
    else {
        $("#LoginLink").show();
        $("#LogoutLink").hide();
    }

    window.userFields = {
        UserId: "@(Session["userid"] != null ? Session["userid"] : "")",
        UserType: "@(Session["type"] != null ? Session["type"] : "")",
        FirstName: "@(Session["firstname"] != null ? Session["firstname"] : "")",
        LastName: "@(Session["lastname"] != null ? Session["lastname"] : "")",
        Email: "@(Session["email"] != null ? Session["email"] : "")",
        Mobile: "@(Session["mobile"] != null ? Session["mobile"] : "")",
        DateOfBirth: "@(Session["dob"] != null ? Session["dob"] : "")",
        Gender: "@(Session["gender"] != null ? Session["gender"] : "")",
        City: "@(Session["city"] != null ? Session["city"] : "")",
        Profile_Pic_Http: "@(Session["profile_pic"] != null ? Session["profile_pic"] : "")",
        Profile_Pic_Https: "@(Session["profile_pic_https"] != null ? Session["profile_pic_https"] : "")",
        Country: "@(Session["country"] != null ? Session["country"] : "")",
        AccessToken: "@(Session["fb_access_token"] != null ? Session["fb_access_token"] : "")"
    };



    window.connectUser = function () {
        $.ajax({
            url: BASE_URL + '/api/UserSignup/Register',
            data: userFields,
            type: 'Post',
            dataType: 'text',
            success: ShowSuccessMessageLogin,
            error: function (xhr, status, error) {
                $("#popup-auth").attr("onclick", "AuthenticateUser();").html("Login");
            }
        });
    }

    GetFBLoginDialog();
    GetFBSignupDialog();
    GetEmailSignupDialog();
</script>
