@using System.Configuration;
@using DataStoreLib.Storage;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Mirchi</title>

    @Styles.Render("~/Content/movie.style.css")
    @*@Styles.Render("~/Content/bootstrap.css")*@
    @Styles.Render("~/Content/bootstrap.min.css")
    @*@Styles.Render("~/Content/bootstrap-theme.min.css")*@
    @Styles.Render("~/Content/bootstrap-responsive.css")
    @Scripts.Render("~/Content/jquery-1.9.1.js")
    @Scripts.Render("~/Content/bootstrap.min.js")
    @Scripts.Render("~/Content/movie.core.js")
    @Scripts.Render("~/Content/movie.autocomplete.js")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/css")*@

    <meta name="robots" content="NOODP" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <script type="text/javascript">


        $(document).ready(function () {

            //We have used keyup event to track the user enter value in the textbox.
            $("#target").keyup(function () {
                //Fetching the textbox value.
                var query = $(this).val();
                //Calling GetItems method.
                getItems(query);
            });

            function getItems(query) {

                //Here we are using ajax get method to fetch data from the list based on the user entered value in the textbox.
                //We are sending query i.e textbox as data.
                $.ajax({
                    url: '@Url.Action("AutoCompleteMovies", "AutoComplete")',
                    data: { "query": query },
                    type: 'POST',
                    dataType: 'json',
                    success: PopulateSearchResult,
                    error: function (xhr, status, error) {
                    }
                });
            }
        });

        function PopulateSearchResult(response) {
            if (response != null) {
                if ($("#targetUL") != undefined) {
                    //If the UL element is not null or undefined we are clearing it, so that the result is appended in new UL every next time.
                    $("#targetUL").remove();
                }
                //assigning json response data to local variable. It is basically list of values.
                data = response;

                if (data.length < 1 || data.length == undefined) {
                    $("#targetDiv").append($("<ul id='targetUL' style='display:none;'></ul>"));
                }
                else {
                    //appending an UL element to show the values.
                    $("#targetDiv").append($("<ul id='targetUL' style='display:block;'></ul>"));
                    //Removing previously added li elements to the list.
                    $("#targetUL").find("li").remove();
                    //We are iterating over the list returned by the json and for each element we are creating a li element and appending the li element to ul element.
                    $.each(data, function (i, value) {
                        //On click of li element we are calling a method.
                        var li = $("<li>");
                        var divImage = $("<div>");
                        $(divImage).attr("style", "width: 15%;float: left;");
                        var img = $("<img/>")
                        img.attr("class", "img-thumbnail");
                        img.attr("style", "width: 50px; height: 50px;margin-right: 1%");
                        img.attr("data-src", "holder.js/200x200");
                        img.attr("src", value.TitleImageURL);
                        divImage.append(img);

                        var divTitleDesc = $("<div>");
                        $(divTitleDesc).attr("style", "width: 80%;float: left;");

                        $(divTitleDesc).html("<span style='width:100%; font-weight: bold;float: left;font-size: 16px;'>" + value.Title + "</span><span style='width:100%;float: left;color: #666666;font-size: 11px;margin-top: 2px;'>" + value.Description + "</span>");

                        var anchor = $("<a>");
                        $(anchor).attr("href", value.Link);

                        $(anchor).append(divImage);
                        $(anchor).append(divTitleDesc);

                        $(li).append(anchor);

                        $("#targetUL").append(li);

                        //$("#targetUL").append($("<li class='targetLI' onclick='javascript:appendTextToTextBox(this)'>" + value.Title + "</li>"));

                    });
                }
            }
            else {
                //If data is null the we are removing the li and ul elements.
                $("#targetUL").find("li").remove();
                $("#targetUL").remove();
            }
        }
        //This method appends the text oc clicked li element to textbox.
        function appendTextToTextBox(e) {
            //Getting the text of selected li element.
            var textToappend = e.innerText;
            //setting the value attribute of textbox with selected li element.
            $("#target").val(textToappend);
            //Removing the ul element once selected element is set to textbox.
            $("#targetUL").remove();
            $("#targetUL").css("display", "none");
        }
    </script>

    <script type="text/javascript">





        //Added code for load actorname
        $(document).ready(function () {

            // BindValueChangeEvent('#hfReviewerId', GetReviewerDetail);
            //get movies
            $("#txtActorName").keyup(function (e) {
                //Fetching the textbox value.
                if (e.keyCode == 40 || e.keyCode == 38) {
                }
                else {
                    var query = $(this).val();
                    //Calling GetItems method.
                    autoCompleteTextBox1(query, "AutoComplete/AutoCompleteActors", "autoCompleteActor", "actorUL", "txtActorName", "hfMovieId");
                }
            });

        });

        //end


    </script>



</head>
<body>
    <div class="container">
        <div class="row">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Movie Mirchi", "Index", "Home", null, new { @class = "navbar-brand", @title = "Find your movie", @rel = "home" })
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="col-sm-6 col-md-6">
                        <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
                            <div class="btn-group pull-left" id="btngroup">
                                <select id="searchtype" class="form-control">
                                    <option>
                                        All
                                    </option>
                                    <option>
                                        Title
                                    </option>
                                    <option>
                                        Character
                                    </option>
                                    <option>
                                        Name
                                    </option>
                                </select>
                            </div>
                            <div class="input-group">
                                <div id="targetDiv">
                                    <input type="text" class="form-control" placeholder="Search..." id="target" name="query" value="" autocomplete="off">
                                </div>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success">Go</button>
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="col-sm-2 col-md-2" style="display:none">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="input-group"><a href="#" class="btn btn-warning">Post Your Ads</a></div>
                        </form>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Session["username"] != null)
                        {
                            <li class="authenticate">
                                Welcome, @Session["username"].ToString().ToUpper()
                            </li>
                            <li class="log">
                                @Html.ActionLink("Logout", "Logout", "Login")
                            </li>
                        }
                        else
                        {
                            <li class="log">
                                @Html.ActionLink("Login", "UserLogin", "Login")
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="padding:0">
                @RenderBody()
            </div>
            <div class="col-sm-4" id="panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">News</h3>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/breaking-news.jpg" id="thumbnail" data-src="holder.js/200x200" class="img-thumbnail" alt="200x200">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if ((Session["username"] != null && Session["favorite"] == null) || (Session["username"] != null && Session["favorite"] != null && string.IsNullOrEmpty(Session["favorite"].ToString())))
    {
        <input type="hidden" value="@Session["userid"]" id="hfUserId" />
        <div>
            <div id="ql_SideBar">
                <div title="Click here for any help" id="ql_Display" style="background-color: #404040 !important; color: White; background-image: none;
                border-top-left-radius: 3px; border-top-right-radius: 3px;">
                    <span>
                        Choose your favorite
                    </span>
                </div>
                <div id="ql_Tab" style="display:block">
                    <div id="ql_List">
                        <div id="favStatus" style="display:none" class="alert alert-danger"></div>


                        <div id="autoCompleteActor">
                            <input type="text" name="txtActorName" id="txtActorName" placeholder="Actor Name" style="width:96%"><span style="color: Red">*</span>

                        </div>
                        <select name="genre" id="genre" style="width:96%">
                            <option value="select">--Genre--</option>
                            <option value="Action">Action</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Crime">Crime</option>
                            <option value="Horror">Horror</option>
                        </select>
                        <div id="buttons" style="padding: 5px 0px;">
                            <input type="button" id="btnSubmit" value="Save your favorites" class="btn btn-success" onclick="SaveUserFavorite();">
                            <input type="button" id="btnClose" value="Close" class="btn btn-convert" onclick='$("#ql_SideBar").hide(500);' style="text-align: left">
                        </div>
                        <div id="queryStatus" style="color: Green"></div>
                        <div id="ql_EmptyText">
                        </div>
                    </div>
                    <div id="ql_Foot" style="text-align: justify; height: 0%; text-align: left;">
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
