@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Mirchi :: Admin Portal</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-responsive.css")
    @Scripts.Render("~/Content/jquery-1.9.1.js")
    @Scripts.Render("~/Content/bootstrap.min.js")
    @Scripts.Render("~/Content/movie.core.js")
    @Styles.Render("~/Content/movie.style.css")
    @Scripts.Render("~/Content/movie.autocomplete.js")
    <meta name="robots" content="NOODP" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Movie Mirchi :: Admin Portal", "AddMovie", "Movie", null, new { @class = "navbar-brand", @title = "Movie Mirchi", @rel = "home" })
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        @if (Session["username"] != null)
                        {

                            <li class="authenticate">
                                Welcome, @Session["username"].ToString().ToUpper()
                            </li>
                            <li class="log">
                                @Html.ActionLink("Logout", "Logout", "Account")
                            </li>
                        }
                        else
                        {
                            //redirect to login page when session is null
                            Response.Redirect("~/Account/Login", true);
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-2" style="padding: 0px 5px 0px 0px; float: left; ">
                <div class="list-group">

                    <a href="@Url.Action("AddMovie", "Movie")" id="addmovie" class="list-group-item"><span class=" glyphicon glyphicon-film"></span>  Add Movie</a>
                    <a href="@Url.Action("UpdateMovie", "Movie")" id="updatemovie" class="list-group-item"><span class=" glyphicon glyphicon-pencil"></span>  Update Movie</a>

                    <a href="@Url.Action("AddAffiliation", "Reviewer")" id="addaffliation" class="list-group-item"><span class=" glyphicon glyphicon-bookmark"></span>  Add Affiliation</a>
                    <a href="@Url.Action("UpdateAffiliation", "Reviewer")" id="updateaffliation" class="list-group-item"><span class=" glyphicon glyphicon-pencil"></span>  Update Affiliation</a>

                    <a href="@Url.Action("AddReviewer", "Reviewer")" id="addreviewer" class="list-group-item"><span class=" glyphicon glyphicon-user"></span>  Add Reviewer</a>
                    <a href="@Url.Action("UpdateReviewer", "Reviewer")" id="updatereviewer" class="list-group-item"><span class=" glyphicon glyphicon-pencil"></span>  Update Reviewer</a>

                    <a href="@Url.Action("AddMovieReview", "Review")" id="addreview" class="list-group-item"><span class=" glyphicon glyphicon-align-center"></span>  Add Movie Review</a>
                    <a href="@Url.Action("UpdateMovieReview", "Review")" id="updatereview" class="list-group-item"><span class=" glyphicon glyphicon-pencil"></span>  Update Movie Reivew</a>

                    @*@Html.ActionLink("  Add Movie", "AddMovie", "Movie", null, new { @class = "list-group-item glyphicon glyphicon-film", @id = "addmovie" })
                    @Html.ActionLink("Update Movie", "UpdateMovie", "Movie", null, new { @class = "list-group-item", @id = "updatemovie" })
                    @Html.ActionLink("Add Affiliation", "AddAffiliation", "Reviewer", null, new { @class = "list-group-item", @id = "addaffliation" })
                    @Html.ActionLink("Update Affiliation", "UpdateAffiliation", "Reviewer", null, new { @class = "list-group-item", @id = "updateaffliation" })
                    @Html.ActionLink("Add Reviewer", "AddReviewer", "Reviewer", null, new { @class = "list-group-item", @id = "addreviewer" })
                    @Html.ActionLink("Update Reviewer", "UpdateReviewer", "Reviewer", null, new { @class = "list-group-item", @id = "updatereviewer" })
                    @Html.ActionLink("Add Movie Review", "AddMovieReview", "Review", null, new { @class = "list-group-item", @id = "addreview" })
                    @Html.ActionLink("Update Movie Reivew", "UpdateMovieReview", "Review", null, new { @class = "list-group-item", @id = "updatereview" })*@
                </div>
            </div>

            <div class="col-sm-10" style="padding: 0px; float: left; ">
                @RenderBody()
            </div>

        </div>
    </div>

</body>
</html>
