@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Mirchi :: Admin Panel</title>    
    @Styles.Render("~/Content/bootstrap.min.css")    
    @Styles.Render("~/Content/jquery-ui.css")
    @*@Styles.Render("~/Content/bootstrap-responsive.css")*@
    @Scripts.Render("~/Content/jquery-1.9.1.js")
    @Scripts.Render("~/Content/bootstrap.min.js")
    @Scripts.Render("~/Content/jquery-ui.js") @*added  by vasim for sortable grid*@
    @Scripts.Render("~/Content/jquery.fileupload.js")
    @Scripts.Render("~/Content/controls/mm.admin.core.js")
    @Scripts.Render("~/Content/controls/mm.admin.search.js")
    @Scripts.Render("~/Content/controls/mm.admin.shortcuts.js")
    @Scripts.Render("~/Content/controls/mm.admin.movie.basics.js")
    @Scripts.Render("~/Content/controls/mm.admin.rating.js")
    @Scripts.Render("~/Content/controls/mm.admin.artists.js")
    @Scripts.Render("~/Content/controls/mm.admin.posters.js")
    @Scripts.Render("~/Content/controls/mm.admin.reviewer.js")
    @Scripts.Render("~/Content/controls/mm.admin.crawler.js")
    @Scripts.Render("~/Content/controls/mm.admin.news.js")
    @Scripts.Render("~/Content/controls/mm.admin.twitter.js")
    @Scripts.Render("~/Content/controls/mm.admin.songs.js")

    @Styles.Render("~/Content/styles/mm.common.css")
    @Styles.Render("~/Content/styles/mm.admin.search.css")
    @Styles.Render("~/Content/styles/mm.admin.artists.css")
    @Styles.Render("~/Content/styles/mm.admin.posters.css")
    @Styles.Render("~/Content/styles/mm.admin.news.css")
    @Styles.Render("~/Content/styles/mm.admin.twitter.css")
    @Styles.Render("~/Content/styles/mm.admin.songs.css")
    
    @*@Scripts.Render("~/Content/movie.core.js")
        @Styles.Render("~/Content/movie.style.css")
        @Scripts.Render("~/Content/movie.autocomplete.js")*@
    <meta name="robots" content="NOODP" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function SetActiveTab(tabName) {
            $(".left-nav").find("li").each(function () {
                if ($(this).text() == tabName) {
                    $(this).attr("class", "active");
                }
                else {
                    $(this).removeClass("active");
                }
            });
        }
    </script>
</head>
<body>

    <div class="top-nav">
        <div class="logo">
            <a href="/" title="Movie Mirchi :: Admin Panel"><img src='/Images/logo.png' /></a>
        </div>
        <div class="user-details">
            <ul>
                <li class="authenticate">
                    Welcome, Administrator
                </li>
                <li class="log">
                    @Html.ActionLink("Logout", "Logout", "Account")
                </li>

            </ul>
        </div>
    </div>
    <div class="left-nav">
        <ul>
            <li><a href="/Home">Movies</a></li>
            <li><a href="/Home/Artists">Artists</a></li>
            <li><a href="/Home/Critics">Critics</a></li>
            <li><a href="/Home/Crawler">Crawler</a></li>
            <li><a href="/Home/News">News</a></li>
            <li><a href="/Home/Twitter">Twitter</a></li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>

</body>
</html>

