@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MovieMirchiLayout.cshtml";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
<div class="movies">
</div>
@Html.Hidden("CurrentMovies", null, new { @id = "CurrentMovies" })
@Html.Hidden("UpcomingMovies", null, new { @id = "UpcomingMovies" })
@Html.Hidden("Popular", null, new { @id = "Popular" })
@Html.Hidden("News", null, new { @id = "News" })
@Html.Hidden("Tweets", null, new { @id = "Tweets" })
@*<input type="hidden" name="CurrentMovies" id="CurrentMovies" />
    <input type="hidden" name="UpcomingMovies" id="UpcomingMovies" />
    <input type="hidden" name="Popular" id="Popular" />
    <input type="hidden" name="News" id="News" />
    <input type="hidden" name="Tweets" id="Tweets" />*@

<style type="text/css">
    .tube-container {
        float: left;
        width: 100%;
        margin-top: 1%;
    }

    .section-title {
        float: left;
        color: purple;
        margin-bottom: 1%;
        margin-top: 2%;
        margin-left: 7%;
        width: 93%;
    }

    .large-fonts {
        font-size: 2em;
        font-family: Segoe UI Light;
        font-weight: bold;
    }

    /*.img-movie-name, .img-movie-genre, .img-movie-date {
            display: none;
        }*/
    .img-movie-name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .movie-list {
        float: left;
        width: 100%;
        margin-left: 7%;
        margin-bottom: 1%;
    }

        .movie-list ul {
            float: left;
            list-style: none;
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 300px;
        }

            .movie-list ul li {
                float: left;
                list-style: none;
                width: 20%;
                margin-right: 5%;
                min-height: 380px;
                margin-bottom: 1%;
                cursor: pointer;
                text-align: left;
            }


                .movie-list ul li img {
                    float: left;
                    border: 0px;
                }
    /* Rating Control */
    .rate-container {
        float: left;
        width: 100%;
        height: 20px;
    }

    .red-mirchi {
        float: left;
        width: 15px;
        height: 25px;
        background-image: url('images/RedChilli.png');
        background-size: 15px 25px;
        margin-top: 10px;
    }

    .green-mirchi {
        float: left;
        width: 15px;
        height: 25px;
        background-image: url('images/GreenChilli.png');
        background-size: 15px 25px;
        margin-top: 10px;
    }
    /* End - Rating Control */
    .movie-synopsis {
        float: left;
        margin-top: 20px;
        text-align: justify;
    }

    .movie-panel {
        margin-top: -10px;
    }

    #now-pager {
        float: left;
        width: 100%;
        position: absolute;
        bottom: 0px;
        text-align: center;
        left: 0%;
    }

    .viewingDiv {
        float: none;
        position: relative;
        display: table;
        /*overflow:hidden;*/
    }

    div.multimediaCaption {
        font-family: Arial;
        font-size: 12px;
        display: inline;
    }

    .viewer {
        text-align: center;
        vertical-align: middle;
        position: relative;
        float: left;
    }

    img.shownImage {
        border: solid 1px transparent;
        box-shadow: 0px 0px 15px #555;
    }

    div.navigate {
        font-family: arial,tahoma,sans-serf;
        font-size: 14px;
        font-weight: bold;
        /*text-transform:uppercase;*/
    }

    div.captionAndNavigate {
        background-color: #FFF;
        color: #333;
        position: relative;
        text-align: left;
        border-right: 1px solid #AAA;
        box-shadow: -3px 3px 3px #AAA;
        float: left;
    }

    .overLaying {
        z-index: 20;
        color: #000000;
        opacity: 0.7;
        filter: alpha(opacity=70);
        position: absolute;
        top: 20;
        left: 0;
    }

    .overLayImg {
        z-index: 20;
        color: #000000;
        opacity: 0.7;
        filter: alpha(opacity=70);
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 42px;
        vertical-align: middle;
        overflow: hidden;
        cursor: pointer;
        /*Chrome*/
        -webkit-border-radius: 5em;
        /*Firefox*/
        -moz-border-radius: 5em;
        /*IE*/
        border-radius: 5em;
        /*behavior: url(PIE.htc);*/
        background: url("/news/images/icons/icon_av_main.gif") no-repeat scroll 0 0 transparent;
    }

        .overLayImg:hover {
            background: url("/news/images/icons/icon_av_main.gif") no-repeat scroll 0 -42px transparent;
        }

        .overLayImg[title="Play Video"] {
            background: url("/news/images/icons/icon_av_main.gif") no-repeat scroll 0 -126px transparent;
        }

            .overLayImg[title="Play Video"]:hover {
                background: url("/news/images/icons/icon_av_main.gif") no-repeat scroll 0 -168px transparent;
            }

        .overLayImg[title="Watch Flash"] {
            background: url("/news/images/icons/flash.png") no-repeat scroll 0 0px transparent;
        }

            .overLayImg[title="Watch Flash"]:hover {
                background: url("/news/images/icons/flash.png") no-repeat scroll 0 -42px transparent;
            }

    .link-container {
        float: left;
        margin-left: 5%;
        cursor: pointer;
        display: none;
    }

        .link-container .section-title {
            color: #999 !important;
        }

            .link-container .section-title:hover {
                color: purple !important;
            }

    .movie-poster-details, .movie-review-details {
    }

    .movie-list, .movie-list ul {
        width: 300px;
    }

    .movie-songs ul {
        float: left;
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
        height: auto;
        display: none;
    }

        .movie-songs ul li {
            float: left;
            width: 175px;
            margin-bottom: 5px;
            min-height: 20px;
        }

    .movie-details {
        float: left;
        width: 65%;
    }

    .play {
        float: right;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: 24px;
        background-image: url('images/play.png');
    }

    .rate {
        float: left;
        width: 78px;
        height: 52px;
        background-image: url('images/mirchi-sprite.png');
        /*background-size: 15px 25px;*/
        /*margin-top: 10px;*/
        margin-bottom: 3px;
    }

    .rate-1 {
        background-position: 2px 0px;
    }

    .rate-2 {
        background-position: -75px 0px;
    }

    .rate-3 {
        background-position: -151px 0px;
    }

    .rate-4 {
        background-position: -228px 0px;
    }

    .rate-5 {
        background-position: -305px 0px;
    }

    .rate-6 {
        background-position: -381px 0px;
        /*width: 215px;*/
    }

    .rate-7 {
        background-position: -457px 0px;
    }

    .rate-8 {
        background-position: -533px 0px;
    }

    .rate-9 {
        background-position: -610px 0px;
    }

    .rate-10 {
        background-position: -687px 0px;
    }

    .myscore {
        color: red;
        font-size: 30px;
        float: right;
        margin-top: 10px;
    }
</style>
<script>
    var indexer = 0;
    $(document).ready(function () {
        $(".movies").append(GetTubeControl("Now Playing", "movie-list", "now-pager"));
        $(".movies").append(GetTubeControl("Upcoming", "upcoming-movie-list", "upcoming-pager"));
        $(".movies").append(GetTubeControl("News", "news-container", "news-pager", "width60"));
        $(".movies").append(GetTubeControl("Tweets", "tweets", "tweet-pager", "width30"));
        $(".movies").append(GetTubeControl("Top Critics", "critics-container", "critics-pager", "width60"));
        $(".movies").append(GetTubeControl("Trending", "tags-container", "tags-pager", "width30"));
        //LoadCurrentMovies();
        //LoadUpcomingMovies();
        //LoadTweets();
        //LoadTags();
        $(".tube-container").append($(".movie-details"));
        $(".movie-list").append($(".link-container"));
        onSuccessLoadCurrentMovies($("#CurrentMovies").val());


        $(".tube-container").append($(".movie-details"));
        $(".upcoming-movie-list").append($(".link-container"));
        onSuccessLoadUpcomingMovies($("#UpcomingMovies").val());


        ShowNews($("#News").val());
        ShowTweets($("#Tweets").val());

    });
</script>
