@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-sm-12" style="padding: 0px 0px 0px 0px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
            {
                <div>
                    <h2 class="form-signin-heading" id="logintitle">Please sign in</h2>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Error"]</div>
                    }

                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">@TempData["Success"]</div>
                    }

                    @Html.TextBox("UserName", "", new { @class = "input-block-level", placeholder = "Username" })
                    @Html.Password("Password", "", new { @class = "input-block-level", placeholder = "Password" })

                    <input type="submit" value="Sign in" class="btn btn-large btn-primary" />
                    

                </div>

                <div class="Record">
                    @Html.ActionLink("Click here for Registration", "Register", "Account")
                </div>
                <div class="Record">
                    @Html.ActionLink("Crawl", "Crawl", "Account")
                </div>
            }
        </div>
    </div>
</div>
